<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper ASR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center my-5">Whisper ASR</h1>
                <form id="audio-upload-form" method="post" enctype="multipart/form-data" class="mb-5">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.audio.errors }}  <!-- use 'audio' instead of 'source' -->
                    {{ form.audio.label_tag }} {{ form.audio }}  <!-- use 'audio' instead of 'source' -->
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
                {% if language and text %}
                    <div class="alert alert-info">
                        <h4 class="alert-heading">Results:</h4>
                        <p>Detected language: {{ language }}</p>
                        <hr>
                        <p class="mb-0">Transcribed text: {{ text }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

